* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #202020;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: lightgray;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }
  
  h2 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  label {
    margin-bottom: .5rem;
    position: relative;
  }

  label:not(:first-of-type){
    margin-top: 1rem;
  }
  
  input {
    padding: 5px;
  }
  
  .choice {
    padding: 10px 0px;
  }

  .choice p {
    margin-bottom: 5px;
  }

  .choice label {
    padding: 2.5px;
    margin-right: 10px;
  }
  
  button {
    background-color: #202020;
    color: beige;
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
  }